AmpsBoxTests/Service References/AmpsService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AmpsCommunication" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAmpsCommunication_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IAmpsCommunication_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IAmpsCommunication_OpenCommunication_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenCommunication" />
  </wsdl:message>
  <wsdl:message name="IAmpsCommunication_OpenCommunication_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenCommunicationResponse" />
  </wsdl:message>
  <wsdl:message name="IAmpsCommunication_CloseAmpsBox_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseAmpsBox" />
  </wsdl:message>
  <wsdl:message name="IAmpsCommunication_CloseAmpsBox_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseAmpsBoxResponse" />
  </wsdl:message>
  <wsdl:portType name="IAmpsCommunication">
    <wsdl:operation name="GetVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmpsCommunication/GetVersion" message="tns:IAmpsCommunication_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmpsCommunication/GetVersionResponse" message="tns:IAmpsCommunication_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenCommunication">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmpsCommunication/OpenCommunication" message="tns:IAmpsCommunication_OpenCommunication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmpsCommunication/OpenCommunicationResponse" message="tns:IAmpsCommunication_OpenCommunication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseAmpsBox">
      <wsdl:input wsaw:Action="http://tempuri.org/IAmpsCommunication/CloseAmpsBox" message="tns:IAmpsCommunication_CloseAmpsBox_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAmpsCommunication/CloseAmpsBoxResponse" message="tns:IAmpsCommunication_CloseAmpsBox_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAmpsCommunication" type="tns:IAmpsCommunication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/IAmpsCommunication/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenCommunication">
      <soap:operation soapAction="http://tempuri.org/IAmpsCommunication/OpenCommunication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseAmpsBox">
      <soap:operation soapAction="http://tempuri.org/IAmpsCommunication/CloseAmpsBox" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmpsCommunication">
    <wsdl:port name="BasicHttpBinding_IAmpsCommunication" binding="tns:BasicHttpBinding_IAmpsCommunication">
      <soap:address location="http://localhost:8002/AmpsCommunication/AmpsCommunication/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>